
name: Build Status

on: push
  
jobs:
  build:
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Make envfile
        run: |
          touch .env
          echo NODE_ENV="test_sdk" >> .env
          echo SIGNING_PUB_KEY="${{ secrets.SIGNING_PUB_KEY_DEV }}" >> .env
          cat .env
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run test-main
  publish:
    name: Publish Package
    needs: build
    runs-on: ubuntu-latest
    env:
      NODE_ENV: 'test_sdk'
      SIGNING_PUB_KEY: '${{ secrets.SIGNING_PUB_KEY_DEV }}'
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - run: npm install
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
